<div id="access" role="navigation">

  <div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>

  <div class="menu-header">
    <ul id="menu-main_menu" class="menu">

      {% for thispage in site.data.pages %}

      {% if {{page.url}} == {{thispage.url}} %}

      <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25">
        <a href="{{thispage.url}}" style="color: white;">{{thispage.name}}</a>        
      </li>

      {% else %}

      <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25">
        <a href="{{thispage.url}}">{{thispage.name}}</a>
      </li>

{% endif %}



      {% endfor %}

    </ul>
  </div>

</div><!-- #access -->
