<div id="access" role="navigation">

  <div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>

  <div class="menu-header">
    <ul id="menu-main_menu" class="menu">

      <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25">
        <a href="/compjclub.html">Overview</a>
      </li>

      <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25">
        <a href="/compjclub_past_meetings">Past meetings</a>
      </li>

      <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25">
        <a href="/compjclub_suggested_reading">Suggested papers</a>
      </li>
    </ul>
  </div>

</div><!-- #access -->
